button{
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    color:#000000;
    background : #ffffff;
    border-style: solid;
    border-color: #0059ff;
    border-width: 0.5;
}
button:hover{
    background : #000000;
    color: white;
    border-color: #0059ff;
    border-width: 2px;
}
.gamebox{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        width: 500px;
        height: 500px;
}