button{
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    color:#000000;
    background : #ffffff;
    border-style: solid;
    border-color: #0059ff;
    border-width: 0.5;
}
button:hover{
    background : #000000;
    color: white;
    border-color: #0059ff;
    border-width: 2px;
} 
.gameBox {
    border: 1px solid black;
    width: 500px;
  }
  
  table {
    width: 100%;
  }
  
  td {
    width: 250px;
    padding: 10px;
  }
  
  img {
    width: 100%;
  }
  
  .cover {
    opacity: 0.5;
  }
.flip{
    display: none;
}


  